{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}


{% if current_user.is_authenticated %}
<h2>User ID: {{current_user.id}} </h2>
<h2>Account Name: {{current_user.firstname}} {{current_user.lastname}}</h2>
<h2>Email: {{current_user.email}}</h2>

<h2>Password: **********</h2>
<h2>Balance: {{current_user.balance}}</h2>


{{ render_form(form) }}

<a href="{{ url_for('users.update') }}" type="button" class="btn btn-light">Account Settings</a>


{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your account information!</p>

{% endif %}

{% endblock %}