{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

{% if current_user.is_authenticated %}
<h2>User ID: {{current_user.id}} </h2>
<h2>Account Name: {{current_user.firstname}} {{current_user.lastname}}</h2>


{% if current_user.isCharity(current_user.id) %}

<h2>Charity Description: {{ current_user.get_charity_description(current_user.id) }}</h2>

{% endif %}


<h2>Email: {{current_user.email}}</h2>

<h2>Password: **********</h2>
<h2>Balance: {{current_user.balance}}</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
{% endif %}
{% endwith %}
{{ render_form(form) }}

<a href="{{ url_for('users.update') }}" type="button" class="btn btn-light">Account Settings</a>

<h2>Recent Bids:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Time of Bid</th>
        </tr>
    </thead>
    <tbody>
        {% for bid in bid_history%}
        <tr>
            <th scope="row"><a href="{{ url_for('products.product_info', product_id=bid.uid) }}">{{bid.bidtime}}</a>
            </th>
            <th scope="row">{{bid.pid}}</th>
            <td>{{humanize_time(bid.amount)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Recent Purchases:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date of Purchase</th>
            <th scope="col">Status:</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchase_history%}
        <tr>
            <th scope="row"><a
                    href="{{ url_for('products.product_info', product_id=purchase.pid) }}">{{purchase.name}}</a>
            </th>
            <th scope="row">{{purchase.price}}</th><!--prints name of product with id +1, caps at 7 items-->
            <td>{{humanize_time(purchase.time_purchased)}}</td>
            <td>Unfullfilled</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <h2>
        <a href="{{ url_for('reviews.index') }}">Check your reviews here</a>
    </h2>
</div>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to proceed!</p>

{% endif %}

{% endblock %}