{% extends "base.html" %}

{% block content %}

<br><br>

{% if current_user.is_authenticated %}
<h2>Your Wishlist:</h2>

        {% if cart|length > 0 %}
            <table class='table table-hover table-bordered container'>
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Product name</th>
                    <!-- <th scope="col">Seller</th> -->
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in cart %}
                    <tr>
                        <th scope="row">{{ i.product_name }}</th>
                        <!-- <td>{{ i.seller_name }}</td> -->
                        <td>{{ i.product_price }}</td>
                        <td>
                            <form action="{{ url_for('cart.cart') }}" method="post">
                                <input type="hidden" name="action" value="remove"/>
                                <input type="hidden" name="product_id" value="{{ i.product_id }}">
                                <input type="submit" value="Remove from Wishlist">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>Total price: {{ total_price }}</h4>
            <form action="{{ url_for('cart.cart') }}" method="post">
                <input type="hidden" name="action" value="checkout"/>
                <input type="submit" value="Checkout" class="btn btn-dark">
            </form>
        {% else %}
            <p>No item found in your Wishlist.</p>
        {% endif %}
    {% else %}
        <h3>You must <a href="{{ url_for('users.login') }}">Log in</a> to see your wishlist</h3>
    {% endif %}

{% endblock %}