{% extends "base.html" %}

{% block content %}

This is charity info page!
<br><br>

<h2> {{charityName}} (Charity ID {{mynum}})</h2>
<h3> Charity Description:</h3>
<body>{{charityDescription}}</body>


{% if current_user.is_authenticated and current_user.isCharity(current_user.id) and (current_user.getCharityId(current_user.id) == mynum) %}
<form method="post" action="{{ url_for('index.change_charity_description', charity_id=current_user.getCharityId(current_user.id)) }}">
  <label for="newDescription">New Description:</label>
  <input type="text" id="newDescription" name="newDescription" required>
  <button type="submit">Change Description</button>
</form>
{% endif %}

  

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td><a href="{{ url_for('products.product_info', product_id=product.id) }}">{{ product.name }}</a></td>


    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}