


{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <img src="{{ product.image }}" alt="{{ product.name }}" width="300">
            <p>Product Expiry Date: {{ product.expiration }}</p>
        </div>
        <div class="col-md-6">
            <div class="current-bid">
                <p>Current Bid Price: ${{ product.price }}</p>
            </div>
        </div>
    </div>
    <div>
        <h3>Your Review</h3>
        <a href="{{ url_for('reviews.addReview', id=product.id)}}">
            {{ 'Write a review...' if isNewReview else 'Update your review' }}
        </a>
        {% if isNewReview %}
            <p>You have no reviews</p>
        {% else %}
        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                    <th scope="col">Last posted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{my_review.rating}} ⭐</td>
                    <td>{{my_review.feedback}}</td>
                    <td>{{my_review.date_posted}}</td>
                </tr>
            </tbody>
        </table>
        
        {% endif %}
    </div>
    <div >
        <h2>Product Review Summary:</h2>
        <p>There is/are {{total}} review(s) with an average rating of {{average}} ⭐</p>
        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                    <th scope="col">Last posted</th>
                </tr>
            </thead>
            <tbody>
                    {% for review in product_reviews%}
                    <tr>
                        <th scope="row">{{review.pid}}</th>
                        <td>{{review.uid}}</td>
                        <td>{{review.rating}} ⭐</td>
                        <td>{{review.feedback}}</td>
                        <td>{{review.date_posted}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}