


{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <img src="{{ product.image }}" alt="{{ product.name }}" width="300">
            <p>Product Expiry Date: {{ product.expiration }}</p>
        </div>
        <div class="col-md-6">
            <div class="current-bid">
                <p>Current Bid Price: ${{ product.price }}</p>

                <form method="POST" action="{{ url_for('products.product_info', product_id=product.id) }}">
                    <label for="bidAmount">Place Your Bid:</label>
                    <input type="number" id="bidAmount" name="bidAmount" placeholder="Enter your bid" required>
                    <button type="submit">Submit Bid</button>
                </form>
            </div>
        </div>
    </div>
    <div >
        <h2>Product Review Summary:</h2>
        <p>There is/are {{total}} review(s) with an average rating of {{average}}</p>
        <table class='table table-hover table-bordered container'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>
            <tbody>
                    {% for review in product_reviews%}
                    <tr>
                        <th scope="row">{{review.pid}}</th>
                        <td>{{review.uid}}</td>
                        <td>{{review.rating}}</td>
                        <td>{{review.feedback}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}