{% extends "base.html" %}

{% block content %}

<br><br>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.user_id.label }}<br />
        {{ form.user_id(size=32) }}<br />
        {% for error in form.user_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>

{% if current_user.is_authenticated %}
<h2>Your reviews:</h2>
<br>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
            <th scope="col">Date posted</th>
            <th scope="col">Update/Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for review in my_reviews%}
        <tr>
            <th scope="row"><a href="/product/{{review.pid}}">{{ review.pid }}</a></th>
            <td>{{review.uid}}</td>
            <td>{% for i in range(review.rating) %}⭐{% endfor %}</td>
            <td>{{review.feedback}}</td>
            <td>{{review.date_posted}}</td>
            <td>
                <a href="{{ url_for('reviews.addReview', id=review.pid)}}">Update review</a>
                <br> <br>
                <form action="" id="delete_review" method="post">
                    <input type="hidden" name="action" value="delete_review">
                    <input type="hidden" name="review_id" value="{{ review.id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>All reviews</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
            <th scope="col">Date posted</th>
        </tr>
    </thead>
    <tbody>
        {% for review in all_reviews%}
        <tr>
            <th scope="row">{{review.pid}}</th>
            <td>{{review.uid}}</td>
            <td>{% for i in range(review.rating) %}⭐{% endfor %}</td>
            <td>{{review.feedback}}</td>
            <td>{{review.date_posted}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}