{% extends "base.html" %}

{% block content %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">

<style>
    body, h2, table, button {
        font-family: Georgia, serif; 
    }

    body {
        background-color: #E6E6FA; 
    }
    .container {
        background-color: #B0C4DE; 
        padding: 20px;
        border-radius: 0; 
        border: 2px solid #4682B4; 
        margin-top: 20px;
    }
    h2 {
        color: #333;
        margin-bottom: 20px;
    }
    .table {
        margin-bottom: 20px;
        border-collapse: collapse;
    }
    .table, .table th, .table td {
        border: 1px solid #A9A9A9; 
    }
    .table th {
        background-color: #B0C4DE; 
        color: #fff;
    }
    .table-hover tbody tr:hover {
        background-color: #f8f8f8;
    }
    .btn-light {
        background-color: #4682B4;
        color: #ffffff;
        border: 1px solid #4682B4;
    }
    .btn-light:hover {
        background-color: #4169E1; 
        border-color: #4169E1;
    }

</style>

<div class="container">
    <h2>{{ charityName }} (Charity ID {{ mynum }}) - Products for sale:</h2>
    <table class='table table-hover'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Buyer ID</th>
                <th scope="col">Date Placed</th>
                <th scope="col">Cost</th>
                <th scope="col">Order Fulfilled</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in avail_orders %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.productName }}</td>
                <td>{{ order.buyerId }}</td>
                <td>{{ order.date_placed }}</td>
                <td>{{ order.cost }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input type="hidden" name="order_status" value="{{ order.status }}">
                        <button type="submit" class="btn btn-light">Change Order Fulfillment Status</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
